packages:
  yum:
    gcc: []
    gcc-c++: []
    python39: []
    python39-devel: []
    python39-pip: []
    postgresql-devel: []

commands:
  01_python_setup:
    command: |
      alternatives --set python /usr/bin/python3.9
      alternatives --set python3 /usr/bin/python3.9
      python3 -m pip install --upgrade pip setuptools wheel

container_commands:
  01_install_requirements:
    command: |
      python3 -m pip install -r requirements.txt --no-cache-dir 2>&1 | tee /var/log/app-logs/pip_install.log

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: food_inventory.wsgi:application
    PythonVersion: 3.9
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    PATH: "/var/app/venv/staging-LQM1lest/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin"

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/django.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/app-logs/django.log
      /var/log/app-logs/django.err 
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;
      client_header_timeout 60;
      client_body_timeout 60;
      types_hash_max_size 2048;
      types_hash_bucket_size 128; 