packages:
  yum:
    git: []
    postgresql-devel: []
    python3-devel: []
    gcc: []

files:
    "/etc/httpd/conf.d/wsgi_custom.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            WSGIApplicationGroup %{GLOBAL}

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: food_inventory.wsgi:application
    PythonVersion: 3.9
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: food_inventory.settings
    PYTHONPATH: "/var/app/current"
    LANG: "en_US.UTF-8"
    LC_ALL: "en_US.UTF-8"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: media
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

container_commands:
  01_create_dirs:
    command: |
      mkdir -p /var/log/app-logs
      mkdir -p /var/app/current/static
      mkdir -p /var/app/current/media
      chmod 755 /var/log/app-logs
      chmod 755 /var/app/current/static
      chmod 755 /var/app/current/media
  02_migrate:
    command: |
      source $PYTHONPATH/../venv/*/bin/activate
      python manage.py migrate --noinput 2>&1 | tee /var/log/app-logs/django_migrate.log
    leader_only: true
  03_collectstatic:
    command: |
      source $PYTHONPATH/../venv/*/bin/activate
      python manage.py collectstatic --noinput 2>&1 | tee /var/log/app-logs/django_collectstatic.log
  05_wsgipass:
    command: |
      sed -i '/WSGIPassAuthorization/d' /opt/python/ondeck/wsgi.conf
      echo 'WSGIPassAuthorization On' >> /opt/python/ondeck/wsgi.conf 

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_fix_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R webapp:webapp /var/app/current
      chmod -R 755 /var/app/current 